
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$font-stack:    'Roboto', sans-serif;
$brand-primary: #760203; 
$primary-color: #fb7c51;
$secondary-color: #fb7c53;
$third-color:#fac7b6;
$green: #497712;
$copyright-color:#c6837a;
$dark-black:#000;
$red:red;
$white:  #fff;
$black:  #666060;
$gray: #969696;
$dark-gray: #706865;
$orange: #f0ad4e;
$link-color: $dark-gray;
$body-bg: #fdf5f2;

$newbranddark: #b11504;
$newbrandlt: #f6dacc;