@import "variables";
@import "mixin";

	.banner  {
        position: relative;
        border-bottom: 2px solid #fff;
        min-height: 100px;
        height: auto;
        overflow: hidden;
        background: $brand-primary;

        img {
            width: 200%;
            left: -200px;
            position: relative;

            @include respond-above(sm) {
                width: 100%;
                left: 0;
                min-height: 200px;
            }
        }
    }

    .banner-overlay {   
        z-index: 99;
        padding: 12px;
        font-family: 'Fjalla One', sans-serif;
        position: absolute;
        color: #fff;
        background: rgba(118, 3, 3, 0.8);
        top:20px;
        left: 0;

        @include respond-above(sm) { 
            padding: 20px;
            right: 30px;
            bottom: 30px;
            top: auto;
            left: auto;
        }
    }

    .banner-text {
        font-size: 16px;
        font-family: sans-serif;
        border-right: 1px solid #fff;

        @include respond-above(sm) {
            font-size: 20px;
            padding-top: 14px;
        }
    }
    .banner-overlay {
        font-size: 22px;

        @include respond-above(sm) { 
            font-size: 26px;
        }

        span {
            font-size: 32px;
            display: block;
            color: $yellow;

            @include respond-above(sm) { 
                font-size: 35px;
            }
        }
    }