@import "variables";
@import "mixin";

	.banner  {
        position: relative;
        border-bottom: 2px solid #fff;
        min-height: 100px;
        height: auto;
        overflow: hidden;
        background: $brand-primary;

        img {
            width: 200%;
            left: -200px;
            position: relative;

            @include respond-above(sm) {
                width: 100%;
                left: 0;
                min-height: 200px;
            }
        }
    }

    .banner-overlay {   
        z-index: 99;
        padding: 12px;
        font-family: 'Fjalla One', sans-serif;
        position: absolute;
        color: #fff;
        background: rgba(118, 3, 3, 0.8);
        top:20px;
        left: 0;

        .banner__subtext {
            font-size: 14px;
        }

        .banner__prominent {
            margin-left: 10px;
            font-size: 22px;
            color: coral;
        }
        .banner__imptext {
            font-size: 20px;
            color: $yellow;
        }

        @include respond-above(sm) { 
            padding: 20px;
            right: 30px;
            bottom: 30px;
            top: auto;
            left: auto;

            .banner__prominent {
                display: block;
                font-size: 36px;
                margin-left: 0;
            }

            .banner__imptext {
                font-size: 34px;
            }

            .banner__subtext {
                font-size: 16px;
                color: #fff;
                margin-top: 10px;
            }
        }
    }

    .banner-text {
        font-size: 20px;
        border-right: 1px solid #fff;
        color: #fff;

        @include respond-above(sm) {
            font-size: 40px;
        }
    }
    .banner-overlay {
        font-size: 14px;

        span {

            @include respond-above(sm) {
                display: block;
                font-size: 32px;
                color: $yellow;
            }
        }
    }