@import "variables";
@import "mixin";

.checkout-container {
    margin: 0 auto;
    .item--summary {
		display: block;
    }
    .item--total {
        display: none;
    }
    
    @include respond-above(md) {
        width: 1200px;
        .item--summary {
            display: none;
        }
        .item--total {
            display: block;
        }
	}

	.minicart-wrapper {
		position: sticky;
        width: 100%;
        height: auto;
        top: -20px;
        @include respond-above(sm) {
            color: $white;
            background: $secondary-color;
        }

		h3 {
            color: $brand-primary;
            display: none;
            @include respond-above(sm) {
                display: block;
            }
        }

        .minicart__box {
            display: none;
        }
        @include respond-above(sm) {
            .minicart__box {
                display: block;
            }
        }
    }
    
    .edit-link {
        display: block;
        text-align: right;
        position: relative;
        a {
            font-size: 15px;
            position: absolute;
            left: 15px;
            top: 15px;
            text-decoration: underline;
            z-index: 9999;
            display: block;
            @include respond-above(sm) {
                color: #fff;
                right: 15px;
                top: -45px;
            }
        }
    }
	.minicart-item {
		.minicart-item__name {
            @include respond-above(sm) {
                color: #fff;
            }
		}
		.minicart-item__qty {
            font-size: 17px;
            @include respond-above(sm) {
                color: #fff;
            }
		}
		.minicart-item__price {
			font-size: 18px;
		}
	}
	.minicart__total {
		color: $white;
		background: $brand-primary;

		.minicart-item__price {
            font-size: 24px;
            
            @include respond-above(sm) {
                font-size: 36px;
            }
		}
    }
    .shipping-prices {
        padding: 15px 0;
        .items{
            text-align: right;
            line-height: 30px;
        }
    }

    .shipping-prices--payment {
        font-size: 14px;
        padding: 12px 12px 0 12px;
        border: 1px dashed $brand-primary;
        line-height: 22px;

        @include respond-above(sm) {
           width: 320px;
        }
    }
    
    .shipping-prices__payable {
        padding: 15px 0;
        background: $third-color;
        font-size: 15px;
        margin: 2px;
        margin: 0 -12px;
    }

}

.checkout__msg {
    padding-top: 15px;
}
.checkout__content {
    background: $body-bg;
    min-height: 600px;
    padding: 40px;
    color: $brand-primary;
    padding-bottom: 40px;
    position: relative;

    label {
        font-size: 13px;
    }

    .entryform {
        padding-bottom: 20px;

        p {
            font-size: 14px;
        }

        label {
            font-size: 16px;
        }
    }

    h4 {
        color: $brand-primary;
        text-transform: uppercase;
        font-size: 20px;

        &.heading-form {
            border-bottom: 1px solid $brand-primary;
            padding: 8px 0;
            margin: 20px 0;
        }
        &.inactive {
            opacity: 0.4;
            margin: 10px 0;
        }
    }
}

.checkout-form {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;

    &.active  {
        height: 100%;
        transition: all 0.1s ease;
        opacity: 10;
    }
}
.user-choice {
    font-size: 15px;
    .custom-radio {
        margin: 15px 0;
    }
}


