@import "variables";
@import "mixin";

.checkout-container {
    margin: 0 auto;
    
    @include respond-above(md) {
		width: 1200px;
	}

	.minicart-wrapper {
		position: sticky;
		background: $secondary-color;
        color: $white;
        width: 100%;
        height: auto;
        margin-bottom: 58px;
        top: -20px;

		h3 {
            color: $brand-primary;
		}
    }
    
    .edit-link {
        margin: -20px 20px 20px;
        display: block;
        text-align: right;
        a {
            color: #fff;
            font-size: 12px;
            text-decoration: underline;
        }
    }
	.minicart-item {
		.minicart-item__name {
			color: $white;
		}
		.minicart-item__qty {
			color: $white;
			font-size: 17px;
		}
		.minicart-item__price {
			font-size: 18px;
		}
	}
	.minicart__total {
		color: $white;
		background: $brand-primary;

		.minicart-item__price {
			font-size: 36px;
		}
    }
    .shipping-prices {
        padding: 15px 0;
        .items{
            text-align: right;
            line-height: 30px;
        }
    }

}

.checkout__msg {
    padding-top: 15px;
}
.checkout__content {
    background: $body-bg;
    min-height: 600px;
    padding: 40px;
    color: $brand-primary;
    padding-bottom: 40px;
    position: relative;

    label {
        font-size: 13px;
    }

    .entryform {
        padding-bottom: 20px;

        p {
            font-size: 14px;
        }

        label {
            font-size: 16px;
        }
    }

    h4 {
        color: $brand-primary;
        text-transform: uppercase;
        font-size: 20px;

        &.heading-form {
            border-bottom: 1px solid $brand-primary;
            padding: 8px 0;
            margin: 20px 0;
        }
        &.inactive {
            opacity: 0.4;
            margin: 10px 0;
        }
    }
}

.checkout-form {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;

    &.active  {
        height: 100%;
        transition: all 0.1s ease;
        opacity: 10;
    }
}
.user-choice {
    font-size: 15px;
    .custom-radio {
        margin: 15px 0;
    }
}


