@import "variables";
@import "mixin";

.order-confirmation {
	padding-top: 30px;
	padding-bottom: 30px;
	 h1 {
		color: $brand-primary;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 20px;

		@include respond-above(sm) {
			text-align: center;
		}
	 }

	 h5{
		color: $primary-color;
		font-size: 22px;
		text-transform: capitalize;
	 }

	 strong {
		color: $primary-color; 
	 }
  }
  .order-infobar {
	display: flex;
	border-bottom: 1px solid $brand-primary;
	justify-content: space-between;
	padding-bottom: 10px;
	color: $dark-black;
	margin-bottom: 15px;
  }

  .product-row {
	display: flex;
	border-bottom: 1px solid $body-bg;
	padding: 8px 0;

	&--header {
		 
		color: $dark-black;
		border-bottom-width: 2px;
	}

	&--extra {
		padding: 15px 0;
		border: none;
	}

	div {
		flex-grow: 1;
		width: 100%;
		text-align: center;
		line-height: 22px;

		&:last-child {
			text-align: right;
		}
	}
  }
  .red {
	color: crimson;  
  }