@import "variables";
@import "mixin";

	.flyer--cart  {
        position: absolute;
        z-index: 999;
        bottom: 195px;
        left: 0;
        right: 0;
        background:$green-lt;
        text-align: center;
        line-height: 1.2;
        opacity: 0.1;
        margin: 0 10px;
        animation: fadein 3.5s 1.0s 1 ease forwards;
        -webkit-animation: fadein 3.5s 1.0s 1 ease forwards;
        -moz-animation:    fadein 3.5s 1.0s 1 ease forwards;
        padding: 2px 5px;
        color: #fff;
        font-size: 13px;
        
        h5.flyer__info {
            font-size: 18px;
            color: #fff;
        }
        p.flyer__info {
            font-size: 13px;
            color: #fff;
            margin: 0;
        }
    
        span {
            font-weight: bold;
            font-size: 14px;
        }
    
      /*   &:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: $yellow;
            border-width: 8px;
            margin-left: -8px;
        } */

        .products__des & {
            bottom: -25px;
        }
    
      }
    
    @-webkit-keyframes slideUp {
        0%, 100% { -webkit-transform: translateY(-120px);  opacity: 0; }
        10%, 90% { -webkit-transform: translateY(0px);  opacity: 1; }
    }
    @-moz-keyframes slideUp {
        0%, 100% { -moz-transform: translateY(-120px);  opacity: 0; }
        10%, 90% { -moz-transform: translateY(0px);   opacity: 1;}
    }

    @-webkit-keyframes fadein {
        0%{  opacity: 0.1; }
        50%{  opacity: 0.7; }
        100% { opacity: 1; }
    }
    @-moz-keyframes fadein {
        0%{  opacity: 0.1; }
        50%{  opacity: 0.7; }
        100% { opacity: 1; }
    }