@import "variables";
@import "mixin";

/* body * {
	border: 1px solid red;
} */
@include respond-above(sm) {
	.fixed-header {
		position: fixed;
		z-index: 1100;
		width: 100%;
		background: #fff;
		top: 0;
		transition: all 0.2s ease-in-out;
		
		.header-mid-area{
			box-shadow: 1px 0 16px 0 #999;
		}
	}
	.padded-header {
		padding-top: 210px;
	}
	.static-header {
			position: static;
			width: 100%;
			top: -200px;
			transition: all 0.2s ease-in-out;
	}
}

header {
	border-bottom: 5px solid $brand-primary;
	background: #fff;
	position: fixed;
    z-index: 9999;
    width: 100%;
	top: 0;
	@include respond-above(sm) {
		position: static;
	}
}

.header-spacer {
	height: 118px;
	@include respond-above(sm) {
		display: none;
	}
}
.header__top__area{
	background:$brand-primary;
	padding: 3px; 

	.top__message{
		color:$third-color;
		font-size: 14px;
		text-transform: uppercase;
		span{
			color:$yellow;
			margin-left: 5px;
			font-size: 18px;
		}
		@include respond-below(sm) {
			display: none;
			background:$brand-primary;
			padding: 6px;
			position: fixed;
			bottom: 0;
			z-index: 9999;
			left: 0;
			right: 0;
		}
	}
	
}
.header__top__left{
	line-height: 30px;
}
.header__top__right{
	padding: 6px 0 0;
}
.top__menu{	
	color:$primary-color;

	.btnlink{
	  color:$third-color;
	  text-decoration: none;
	  font-size: 13px;
	  border: none;
	  background: none;
	  cursor: pointer;
	  @include respond-above(sm) {
		font-size: 15px;
	}
	}

	@include respond-below(sm) {
		ul {
			padding: 0;

			li {
				border: none;
			}
		}

		.btnlink { 
			background: #fff;
			color: $brand-primary;
			padding: 10px 15px;
		}
	}
}
.header__logo {
	img{
		margin-top: 3px;
		max-width:100px;
	}
	@include respond-above(sm) {
		img {
			margin-top: 18px;
			width:200px;
			max-width:150px;
			.fixed-header & {
				margin-top: 0
			}
		}
	}
}

.header-mid-area{
	box-shadow: 1px 4px 16px 2px #eee;
}
.header__search{
	padding: 8px 0;
	float: left;

	ul {
		margin-left: 15px;
		top: 54px;
		border: $primary-color;
		background: none;
		z-index: 10000;
		webkit-box-shadow: 0px 9px 11px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 9px 11px -10px rgba(0,0,0,0.75);
		box-shadow: 0px 9px 11px -10px rgba(0,0,0,0.75);

		@include respond-above(sm) {
			margin-left: 45px;
		}
	}

	@include respond-above(sm) {
		padding: 28px 0;
	}
	.fixed-header & {
		@include respond-above(sm) {
			padding: 15px 0;
		}
	}

	input {
		width: 90%;
		box-sizing: border-box;
		font-size: 14px;
		background-image: url(../images/search-icon.svg);
		background-position: right;
		background-repeat: no-repeat;
		padding: 8px 8px 8px 20px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		height: 45px;
		background-size: 28px;
		margin-left: 5px;
		border: none;
		border-bottom: 1px solid #fb7c51;
		background-color: #fff;
		@include respond-above(sm) {
			background-size: 55px;
			height: 55px;
			padding: 12px 20px 12px 20px;
			font-size: 15px;
		}
	}
	@include respond-above(sm) {
		input {
			margin-left: 45px;
		}
	}
}
.cart__total {
	padding: 28px 0;
	float: right;
	position: absolute;
	bottom: -83px;
	right: 0;
	z-index: 999;

	@include respond-above(sm) {
		.fixed-header & {
			padding: 15px 0;
		}
	}

	ul {
		display: flex;
	}
	.checkout a {
		padding: 17px 20px;
		color: #fff;
		background: $newbranddark;
		margin-left: 5px;
		display: inline-block;
	}
	@include respond-above(sm) {
		position: static;
	}
}
.header__mid__area__cart{
	padding: 18px 20px;
	background-image: url(../images/cart-icon.svg);
	background-position: 9px 8px;
	background-repeat: no-repeat;
	background-size: 30px;
	display: inline-block;
	background-color: transparent;
	border: none;
	cursor: pointer;
    &:hover{
    	color: $third-color;
    	text-decoration: none;
		}
	&.header__mid__area__cart--inactive {
		opacity: 0.6;
		color: $third-color;
	}
	@include respond-above(sm) {
		border: 1px solid #fb7c51;
	}
}
.cart__no{
	padding: 5px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    background: orangered;
    border-radius: 30%;
    margin-left: 10px;
    margin-top: -10px;
    display: block;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 1px;
    &:hover{
    	color: $third-color;
	}
	.header__mid__area__cart--inactive & {
		background: #ccc;
		box-shadow: none;
	}

}
.header-bottom-area{
	padding:0;
}


.userlinks__msg {
	 
	text-transform: capitalize;
	margin-right: 30px;
}
