@import "variables";
@import "mixin";

/* body * {
	border: 1px solid red;
} */
@include respond-above(sm) {
	.fixed-header {
		position: fixed;
		z-index: 1100;
		width: 100%;
		background: #fff;
		top: 0;
		transition: all 0.2s ease-in-out;
		
		.header-mid-area{
			box-shadow: 1px 0 16px 0 #999;
		}
	}
	.padded-header {
		padding-top: 210px;
	}
	.static-header {
			position: static;
			width: 100%;
			top: -200px;
			transition: all 0.2s ease-in-out;
	}
}

header {
	border-bottom: 5px solid $brand-primary;
	background: #fff;
	position: fixed;
    z-index: 9999;
    width: 100%;
	top: 0;
	@include respond-above(sm) {
		position: static;
	}
}
.header__top__area{
	background:$brand-primary;
	padding: 3px; 

	.top__message{
		color:$third-color;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 600;
		span{
			color:$yellow;
			margin-left: 5px;
			font-size: 18px;
		}
		@include respond-below(sm) {
			background:$brand-primary;
			padding: 6px;
			position: fixed;
			bottom: 0;
			z-index: 9999;
			left: 0;
			right: 0;
		}
	}
	
}
.header__top__left{
	line-height: 30px;
}
.header__top__right{
	padding: 6px 0 0;
}
.top__menu{	
	color:$primary-color;

	a{
	  color:$third-color;
	  text-decoration: none;
	  font-size: 13px;
	  @include respond-above(sm) {
		font-size: 15px;
	}
	}
}
.header__logo {
	img{
		margin-top: 3px;
		max-width:120px;
	}
	@include respond-above(sm) {
		img {
			margin-top: 18px;
			width:200px;
			max-width:150px;
			.fixed-header & {
				margin-top: 0
			}
		}
	}
}

.header-mid-area{
	box-shadow: 1px 4px 16px 2px #eee;
}
.header__search{
	padding: 8px 0;
	float: left;
	@include respond-above(sm) {
		padding: 28px 0;
	}
	.fixed-header & {
		padding: 15px 0;
	}

	input {
		width: 90%;
		box-sizing: border-box;
		font-size: 14px;
		background-image: url(../images/search-icon.svg);
		background-position: right;
		background-repeat: no-repeat;
		padding: 8px 8px 8px 20px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		height: 45px;
		background-size: 28px;
		margin-left: 5px;
		border: none;
		border-bottom: 1px solid #fb7c51;
		background-color: #fff;
		@include respond-above(sm) {
			background-size: 55px;
			height: 55px;
			padding: 12px 20px 12px 20px;
			font-size: 15px;
		}
	}
	@include respond-above(sm) {
		input {
			margin-left: 45px;
		}
	}
}
.cart__total {
	padding: 28px 0;
	float: right;
	position: absolute;
	bottom: -83px;
	right: 0;
	z-index: 999;

	@include respond-above(sm) {
		.fixed-header & {
			padding: 15px 0;
		}
	}

	ul {
		display: flex;
	}
	.checkout a {
		padding: 17px 20px;
		color: #fff;
		background: $brand-primary;
		margin-left: 5px;
		display: inline-block;
	}
	@include respond-above(sm) {
		position: static;
	}
}
.header__mid__area__cart{
	padding: 13px 20px;
		background-image: url(../images/cart-icon.svg);
    background-position: 9px 8px;
    background-repeat: no-repeat;
		background-size: 30px;
		display: inline-block;
    &:hover{
    	color: $third-color;
    	text-decoration: none;
		}
	&.header__mid__area__cart--inactive {
		opacity: 0.6;
		color: $third-color;
	}
	@include respond-above(sm) {
		border: 1px solid #fb7c51;
	}
}
.cart__no{
	padding: 0px 0px 0px 25px;
    font-size: 22px;
    font-weight: 700;
    &:hover{
    	color: $third-color;
    	text-decoration: none;
    }
}
.header-bottom-area{
	padding:0;
}


.userlinks__msg {
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 30px;
}
