@import "variables";
@import "mixin";

.minicart-wrapper {
	background: #fdf5f1;
	position:fixed;
    top:152px;
	right: -300px;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	transition: right 0.3s;
    width:300px;
	height:100%;
	z-index: 999;

	.cart-page & {
		position: static;
		width: 100%;
		background: $white;
	}

	h3{
		background: $primary-color;
		padding-left: 20px;
		line-height: 50px;
		cursor: pointer;
	}
	&.speed-in {
        right: 0;
      }
}
.minicart-item {
	border-bottom: 1px solid $third-color;
	padding: 10px 20px;
	position: relative;

	.minicart-item__name {
		color: $brand-primary;
		font-size: 15px;
		padding-bottom: 7px;
	}
	.minicart-item__qty {
		color: $primary-color;
		font-size: 15px;
		span {
			color: $third-color;
			font-size: 12px;
		}
	}
	.minicart-item__price {
		color: $brand-primary;
		font-size: 15px;
		text-align: right;
	}
	&__remove {
		position: absolute;
		text-indent: -9999px;
		background-color: transparent;
		height: 16px;
		width: 16px;
		border: 1px solid red;
		border-radius: 50%;
	}
}
.closebtn {
	position: absolute;
	padding: 1px;
	right: 22px;
	top: 5px;
	width: 16px;
	height: 16px;
	opacity: 0.3;
	cursor: pointer;
  }
  .closebtn:hover {
	opacity: 1;
  }
  .closebtn:before, .closebtn:after {
	position: absolute;
	left: 6px;
	content: ' ';
	height: 12px;
	width: 2px;
	background-color: #333;
  }
  .closebtn:before {
	transform: rotate(45deg);
  }
  .closebtn:after {
	transform: rotate(-45deg);
  }
.minicart__box {
	height: 50vh;
	overflow: auto;
	min-height: 80px;

	.cart-page & {
		height: auto;
		min-height: 150px;
	}
}
.minicart__total {
	background: $third-color;
	padding: 10px 20px;
	color: $brand-primary;
	font-size: 19px;
	text-align: right;
}
.minicart__btn {
	width: 100%;
	border-radius: 0;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 10px;
}

.checkout-btn {
	a {
		display: block;
		padding: 15px 20px;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 10px;
		color: $white;
		background: $brand-primary;
		text-decoration: none;
	
		&:hover {
			text-decoration: none;
			background: $secondary-color;
		}
	}

	.cart-page & {
		text-align: right;
		a {
			display: inline-block;
		}
	}
}