@import "variables";
@import "mixin";

.products__des{
	background: $white;
	padding-top: 30px;

	h4{
		color:$gray;
		font-size: 20px;
	}
	p{
		color:$gray;
		font-size: 13px;
	}
	.disc{
		color:$gray;
		font-size: 11px;
		line-height: 12px;
	}

	.product__details_left{
		h4{
			color:$gray;
			font-size: 18px;
    		text-align: right;
    		padding: 16px;
		}
		h2{
			color:$brand-primary;
			font-size: 20px;
			@include respond-above(sm) {
				font-size: 24px;
			}
		}

	}
	.product__details_right{
		@include respond-above(sm) {
			padding: 30px 40px;
		}
		h2{
			color:$brand-primary;
			font-size: 20px;
			@include respond-above(sm) {
				font-size: 24px;
			}
		}
		h3{
			color:$dark-black;
			font-size: 18px;
			@include respond-above(sm) {
				font-size: 20px;
			}	
    		span{
				color:$gray;
				font-size: 14px;
				text-decoration: line-through;
				@include respond-above(sm) {
					font-size: 18px;
				}	
			}
			em{
				color:$green;
				font-size: 14px;
				@include respond-above(sm) {
					font-size: 18px;
				}	
			}				
		}
		.item__price {
			padding-bottom: 10px;
			@include respond-above(sm) {
				padding-bottom: 18px;
			}	
		}
		.item__price--dk {
			color:$dark-black;
			font-size: 18px;
			@include respond-above(sm) {
				font-size: 20px;
			}

			span {
				font-size: 14px;
				color:$gray;
				@include respond-above(sm) {
					font-size: 16px;
				}
			}
		}
		.item__price--lt {
			color:$gray;
			font-size: 16px;
			line-height: 32px;
		}
		.item__price--dt {
			color:$gray;
			font-size: 16px;
			
			span {
				text-decoration: line-through;
				margin-left: 10px;
			}

			em {
				color:$green-lt;
				font-size: 18px;
			}
		}	
		.product__icon{
			display:inline-flex;
			.minus img{
		   	    width: 40px;
			}
			.plus img{
			    width: 40px;
			}
		}
		.addtocart-wrapper {
			position: relative;
		}
		.addtocart__large{
		    margin-top: 25px;
		    padding: 12px 15px;
		    text-transform: uppercase;
			border-radius: 0;
			width: 100%;
			background: $newbranddark;
		    &:hover{
		    	color:$third-color;
		    	text-decoration:none;
			}
			@include respond-above(sm) {
		    	margin-top: -10px;
			}
		}

		.zipvalidator {
		  width: 100%;
		  position: relative;
		  margin-bottom: 30px;

			.zipbox {
				width: 80%;
				box-sizing: border-box;
				font-size: 15px;
				padding: 12px 20px 12px 0;
				-webkit-transition: width 0.4s ease-in-out;
				transition: width 0.4s ease-in-out;
				height: 55px;
				background-size: 55px;
				@include respond-above(sm) {
					width: 60%;
					}
			}
			.zipbutton {
			  margin-left: -10px;
			  width: 70px;
			  height: 55px;
			  background: #f8aa90;
			  text-align: center;
			  color: #fff;
			  cursor: pointer;
			  font-size: 15px;
			  border: 1px solid #f8aa90;

			  @include respond-above(sm) {
				margin-left: -50px;
				width: 90px;
				}
			}

			.small-msg {
				font-size: 13px;
				line-height: 16px;
				margin-top: 10px;
				color:$black;
			}
		}
		.description{
			padding:30px 0;
			h4{
				color:$brand-primary;
				font-size: 16px;
			    border-bottom: 3px solid;
			    padding-bottom: 8px;
			}
			p{
				color:$black;
				font-size: 14px;
			}

			ul{
				padding: 0;
				li{
					padding:8px 0
				}
			}
		}
	}
}

.product__details__img {
	min-height: 200px;
	background: #fff;
	padding: 20px;
}
