@import "variables";
@import "mixin";

.product__wrapper{
	padding: 10px 12px 32px 12px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	float: left;
	width: 100%;
	transition: all 0.3s ease-in 0s;

	&:hover {
		transition: all 0.3s ease-in 0s;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 1px;
	}
}
.img__box{
	float: left;
	width: 38%;
	@include respond-above(sm) {
		padding: 10px 5px;
		float: none;
		width: auto;
		height: 250px;
		overflow: hidden;
	}
}
.product__content{
	padding-bottom: 0px;
	float: left;
	width: 60%;
	text-align:left;
	padding-left: 10px;
	@include respond-above(sm) {
		padding-left: 0;
		text-align: center;
		float: none;
		width: auto;
		height: 155px;
	}

	h3{
		color:$brand-primary;
		font-size:20px;
		padding-top: 15px;
		@include respond-above(sm) {
			padding-top: 10px;
		}
	}
}

.item__price {
	padding-bottom: 20px;
	padding-left: 5px;
}
.item__price--dk {
	color:$dark-black;
	font-size: 18px;

	span {
		font-size: 14px;
		color:$gray;
		display: block;
		@include respond-above(sm) {
			display: inline;
		}
	}
}
.item__price--lt {
	color:$gray;
	font-size: 14px;
	line-height: 24px;
}
.item__price--dt {
	color:$gray;
	font-size: 14px;
	display: block;
	@include respond-above(sm) {
		display: inline;
	}
	span {
		text-decoration: line-through;
		@include respond-above(sm) {
			margin-left: 10px;
		}
	}
	
	em{
		color:$green-lt;
		font-size: 14px;
	}
}	
.add__to__cart {
	position: absolute;
	transform: translate(-50%, -50%);
    left: 50%;
    bottom: -60px;
	text-transform: uppercase;

	&:hover{
		color:$white;
	}
}
.view__more{
	position: absolute;
	   right: 30px;
	top: 55%;

	a{
		background: $white;
		padding: 12px 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		box-shadow: 3px 3px 3px 1px #f6dacc;
		text-decoration:none;
	}
}
.festival__item{		

    .product__wrapper{
        padding: 10px 12px 32px 12px;
        background: #fff;
        position: relative;
        border-radius: 6px;
    }
    .img__box{
        padding: 10px 5px;
    }
    .product__content{
        padding-bottom: 0px;
    }
    h3{
        color:$gray;
        text-transform: uppercase;
        font-size:20px;
        text-align:center;
    }	
    
}
.view__more{
    position: absolute;
       right: 30px;
    top: 55%;

    a{
        background: $white;
        padding: 12px 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 3px 3px 3px 1px #f6dacc;
        text-decoration:none;
    }
}