body {
    background:#f6f6f6;

    a {
        color: #000;
    }
}

.btn-primary {
    background: #96a80c;
    color: #fff;
    border: none;

    &:hover {
        background: #96a80c;
        color: #fff;
    }
}

.checkout-cart{
    .cart-item {
        padding: 1em;
        border-bottom: 1px solid #e0e6ef;
        background: #fff;
      }
} 
.cart-total {
    padding: 1em;
    background: #fff;
    margin: 20px 0;
}

.disabled-section
{
  pointer-events: none;
  opacity: 0.5;
}

.btn-full {
    width: 100%;
}

.header {
    h1 {
        padding: 20px
    } 
    .search {
        padding-top: 20px;
    }
}

.footer {
    padding: 15px 40px;
    background: #333;
    color: #ccc;
    a {
        color: #ccc;
    }
}

.checkout-flow {
    .container {
        min-height: 400px;
    }
}
.product-card {
    padding-bottom: 30px;
}