.miniCart {
  float: right;
  font-size: 15px;
  right: 20px;
  top: 20px;
  position: relative;
  z-index: 999;
  margin-top: -140px;
}

.cart-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(https://image.flaticon.com/icons/svg/214/214268.svg);
}

.cart-count {
  position: absolute;
  background: rgb(138, 6, 6);
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 11px;
  left: 20px;
  top: -7px;
}
.miniCartContainer {
  background: rgba(218, 215, 215, 0.575);
  padding: 15px;
}

.miniCartContainer span{
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.miniCartContainer:empty {
  display: none;
}

.miniCartLink {
  font-size: 16px;
  font-weight: bold;
  color: rgb(6, 104, 22);
  text-align: right;
  display: block;
}

@-webkit-keyframes spinAround {
  from {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg)
  }
}

@keyframes spinAround {
  from {
      -webkit-transform: rotate(0);
      transform: rotate(0)
  }

  to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg)
  }
}

.btn {
  position: relative;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.active .btn.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.active .btn.is-loading::after {
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}
.active .btn.is-loading::after{
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color:#edc565; /* Black background color */
  color: #111; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 6px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 10px; /* Center the snackbar */
  bottom: 65%; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
-webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
animation: fadein 0.5s, fadeout 0.5s 3s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 30%; opacity: 0;} 
  to {bottom: 65%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 30%; opacity: 0;}
  to {bottom: 65%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30%; opacity: 1;} 
  to {bottom: 65%; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30%; opacity: 1;}
  to {bottom: 65%; opacity: 0;}
}


#cd-cart {
  right: -100%;
  background: #fff;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
  position: fixed;
  width: 420px;
  height: 100%;
  top: 160px;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
  max-height: 300px;
  overflow: auto;
}
#cd-cart .cd-cart-items > div {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items >  div:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  text-indent: -10000px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}

#cd-cart .checkout-btn a{
  display: block;
  width: 100%;
  line-height: 60px;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn a:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

